- content_for :title do
  Contact us
- content_for :body_id do
  contact-us
- content_for :body_class do
  contact

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

%h1 Contact Us
%section#grow
  %h2 Email
  %p
    You can email us at
    %a{:href => "mailto:ourchorus.info@gmail.com"}
      ourchorus.info@gmail.com
  %h2 Find us on Facebook
  %p
    Like our page on
    %a{:href=>"https://www.facebook.com/OurChorus"}Facebook
  %h2 Come Visit
  %p
    Find us at Northbridge Uniting Church,&nbsp;
    %a{:href => "http://maps.google.com.au/maps?daddr=Gunyah+St,+Northbridge+NSW+2063+%28Uniting+Church+In+Australia%29&geocode=CZ0qjyiGbQsmFfsQ_P0djFUDCSF1gmofxT6AuQ&dirflg=&saddr=&f=d&dq=uniting+church&sll=-33.811517,151.213728&sspn=0.018363,0.038581&ie=UTF8&z=16", :target => "_blank"}> Gunyah St, Northbridge
    &nbsp;from 7:30pm each Wednesday evening from July 10, 2013.


