- content_for :title do
  Course Materials
- content_for :body_id do
  course-materials
- content_for :body_class do
  course

%h1 Grow Your Voice / Grow Your Group - Course Materials
%h2 Music
%p In Week 1 we will choose a song to sing. We have collected sheet music and learning tracks for five songs so that we can be ready to go when the group makes its choice. The songs are:
%ol
  %li>
    %a{:href=>'http://www.youtube.com/watch?v=1FiK1a0GoPw', :target => "_blank"}Bucket of Love
  %li>
    %a{:href=>'http://www.youtube.com/watch?v=rjkrjYitgeA', :target => "_blank"}I am Australian
  %li>
    %a{:href=>'http://www.youtube.com/watch?v=77umP7IRxD4', :target => "_blank"}Music of the Night
  %li>
    %a{:href=>'http://www.youtube.com/watch?v=P3WFY4ZcWsc', :target => "_blank"}Somebody to Love
  %li>
    %a{:href=>'http://www.youtube.com/watch?v=RBKwcjeftnA', :target => "_blank"}Blackbird

%p
  You can download the sheet music, recorded examples, and teach tracks
  %a{:href=>'https://www.dropbox.com/sh/slvcj47pgf9d8i5/jM82whzJkq', :target => "_blank"}here.

%h2 Handouts
%p
  You can download the course handouts
  %a{:href=>'https://www.dropbox.com/sh/rb9p39vr1oioux9/4nI_HDWeiU', :target => "_blank"}here.

%h2 Photos
%p
  Photos from the course will be uploaded
  %a{:href=>'https://www.dropbox.com/sh/1v8i56pm4xa1os0/9Xh-PHZ81F', :target => "_blank"}here.

%h2 Tools
%p
  %a{:href=>'http://www.trello.com', :target => "_blank"}Trello
  is great for
  %a{:href=>'https://trello.com/board/our-music/50ccfb17a2d0530306005986', :target => "_blank"}managing music
  (Week 1 - you will need to be given access to this board) and
  %a{:href=>'https://trello.com/board/actions/50c9ad3c35a62fc0380031ca', :target => "_blank"}becoming an Action Hero
  (Week 4)

%p
  %a{:href=>'http://www.ideaboardz.com/', :target => "_blank"}IdeaBoardz
  is handy for Management Suppers (Week 5) and Retrospectives (Week 6)