- content_for :title do
  Grow Your Group
- content_for :body_id do
  grow-your-group
- content_for :body_class do
  grow

%h1 Grow Your Group
%section#grow
  %p
    Come sing with Our Chorus for six weeks and discover some innovative techniques for growing collaboration and teamwork in your musical group!
  %h2
    Week 1: It's Your Choice
  %p
    We are free to choose the music we sing. Let's listen to a selection of songs and decide which (if any) we want to learn.
  %h2
    Week 2: Feedback Farming
  %p
    How can we continue to grow the quality of our music? By giving and receiving gentle, nurturing feedback as we practice.
  %h2
    Week 3: Let's Make Beautiful Music Together
  %p
    Set your creativity free by participating in a Music Charrette, a session in which everyone helps create the storyline and passion we'll put into our song.
  %h2
    Week 4: Become an Action Hero!
  %p
    How can we keep our chorus running smoothly? We trust each other to pro-actively take responsibility for actions that need to be done.
  %h2
    Week 5: Meetings with Munchies
  %p
    How can we ensure everyone has their say? By holding meetings, Lean Coffee style.
  %h2
    Week 6: What Went Well
  %p
    How can we keep getting better at what we do? Join our retrospective to find out.  We may elect to make this a family and friends night too, so we can wow our audience with a passionate rendition of our chosen song!
  %h2
    But Wait, There's More...
  %p
    Not only will you learn learn how a singing group can be fully collaborative and democratic, you'll also
    = link_to "pick up some great tips for getting the most out of your voice!", static_pages_grow_your_voice_path
  %h2
    Where and When
  %p
    Find us at Northbridge Uniting Church,&nbsp;
    %a{:href => "http://maps.google.com.au/maps?daddr=Gunyah+St,+Northbridge+NSW+2063+%28Uniting+Church+In+Australia%29&geocode=CZ0qjyiGbQsmFfsQ_P0djFUDCSF1gmofxT6AuQ&dirflg=&saddr=&f=d&dq=uniting+church&sll=-33.811517,151.213728&sspn=0.018363,0.038581&ie=UTF8&z=16", :target => "_blank"}> Gunyah St, Northbridge
    &nbsp;from 7:30pm each Wednesday evening from July 17, 2013.
  %h2
    = link_to "Register now!", new_user_registration_path

