- content_for :title do
  Grow Your Voice
- content_for :body_id do
  grow-your-voice
- content_for :body_class do
  grow

%h1 Grow Your Voice
%section#grow
  %p
    Come sing with Our Chorus for six weeks and discover how your voice can blossom and grow!<br/> Whether you're a beginner just learning to sing, or an experienced singer, you'll enjoy exploring new ways to use your voice with this fun alternative to singing lessons!
  %h2
    Week 1: The Powerhouse of Song
  %p
    Why do we breathe while singing? Some of the answers will surprise you!
  %h2
    Week 2: Your Very Own Boombox
  %p
    Discover the natural way to amplify your voice, using the resonant cavities of your body.
  %h2
    Week 3: You Only Need to Count to Eight
  %p
    Play with the intervals in an octave, and sit lightly on the note like a bird perching on a wire. Don't hang like a bat!
  %h2
    Week 4: Growing a Wall of Sound
  %p
    Without instruments, vowels and diphthongs build on each other in harmony to create an amazing wall of sound.
  %h2
    Week 5: The Tip of the Tongue and the Teeth
  %p
    Lightly placed consonants deliver the passion of the music without interrupting the wall of sound.
  %h2
    Week 6: Feel the Beat
  %p
    Clap your hands and stamp your feet! We're getting into the rhythm. We may elect to make this a family and friends night too, so we can wow our audience with a passionate rendition of our chosen song!
  %h2
    But Wait, There's More...
  %p
    Not only will you learn more about using your voice, you'll also
    = link_to "learn how a singing group can be fully collaborative and democratic!", static_pages_grow_your_group_path
  %h2
    Where and When
  %p
    Find us at Northbridge Uniting Church,&nbsp;
    %a{:href => "http://maps.google.com.au/maps?daddr=Gunyah+St,+Northbridge+NSW+2063+%28Uniting+Church+In+Australia%29&geocode=CZ0qjyiGbQsmFfsQ_P0djFUDCSF1gmofxT6AuQ&dirflg=&saddr=&f=d&dq=uniting+church&sll=-33.811517,151.213728&sspn=0.018363,0.038581&ie=UTF8&z=16", :target => "_blank"}> Gunyah St, Northbridge
    &nbsp;from 7:30pm each Wednesday evening from July 17, 2013.
  %h2
    = link_to "Register now!", new_user_registration_path
