- content_for :title do
  How We Operate
- content_for :body_id do
  our-operations
- content_for :body_class do
  public-page

%h1 How We Operate

%section#our-auditions
  %h2 Our Auditions

  %p Our members are selected through social auditions.

  %p Before the audition, prospective members complete an online survey providing information about themselves, and choose a song. The information is distributed to the existing members.

  %p The audition begins with socialising. Prospective members mingle with existing members and chat. Snacks and beverages are provided. Then each prospective member introduces themselves to the group and sings part of the song they have chosen. The group may ask questions. Finally, existing members vote by placing a coloured chip in a box. Green means "I want you to join us",  Yellow means "I need some time to think about it or ask more questions", Red means "I don't think you're ready for us just yet. Please try again later".

  %p All prospective members will be provided with feedback after the audition.

  %p When a prospective member is voted in, they become a probationer member for three months. At the end of that time another vote is held and the singer is either welcomed into the group as a permanent member, or asked to re-audition at a later time.

  %p Become a founding member; join now! Initial auditions will be held early 2013

%section#our-rehearsals
  %h2 Our Rehearsals
  %p Rehearsals are guided by a facilitator and structured as follows:
  %ul
    %li Physical warm ups
    %li Vocal warmups and vocal production
    %li Develop  song 1
    %li Develop song 2
    %li Perform existing repertoire
    %li Select two songs to focus on for the next rehearsal

  %p Song selection is done by the group voting on all current repertoire.

  %p During rehearsals, all members are responsible for giving gentle constructive feedback to the group, to improve the quality of the music. All members are also responsible for listening to the feedback and doing their best to implement it.

  %p Rehearsal structure, like all operation of the group, is open to being changed by the members by group decision made online or in a management meeting.

%section#our-craft
  %h2 Our Craft

%section#our-management
  %h2 Our Management

  %p Management meetings are held as required and may be called by any member. All members may attend.
  %p
    There is no set agenda for management meetings. Instead, the meetings are run using
    %a{:href => "http://leancoffee.org/"} "Lean Coffee"  techniques:
  %ol
    %li Choice of topics: all attendees write down any topic they wish to discuss or decisions that need to be made. Then attendees vote on the topics by distributing 3 marks.
    %li Topics are discussed in order of the number of marks they received, in ten minute blocks.
    %li At the end of ten minutes, the attendees may make a decision by voting. Thumbs up means "yes", thumbs down means "no", thumbs sideways means "lets discuss it for another ten minutes"
    %li The meeting ends at a set time. Decisions that have not been made in that time are deferred to the next meeting or to an online discussion.

  %p Rehearsals and management meetings are both assisted by a facilitator who is responsible for moving the group on to the next item at the appropriate time.

  Voting
  %p All decisions that affect our chorus are made by voting, either in a meeting or online.

  %p The outcome of a vote may be decided by majority or by consensus. Welcoming a new person as a permanent member of the group, and changes to our vision or our values, are always done by consensus. Other votes are normally done by majority, but any member may request a consensus vote on any decision.

  %p Votes may be open or secret. An open vote is done by show of hands, a secret vote by placing a coloured chip in a container. Auditions and Welcomings are always decided by secret votes. Other votes are normally open, but any member may request a secret vote on any decision.
