- content_for :title do
  We love singing
- content_for :body_id do
  public-join
- content_for :body_class do
  public-page

.test
  %p hello
  %iframe{:frameborder => "0", :height => "400", :src => "http://prezi.com/embed/k5qt_asfy4fy/?bgcolor=ffffff&lock_to_path=1&autoplay=0&autohide_ctrls=0&features=undefined&disabled_features=undefined", :width => "550"}