- content_for :title do
  Our Vision
- content_for :body_id do
  our-vision
- content_for :body_class do
  public-page

%section#vision.quote
  %blockquote.hero-quote
    %p
      We love bringing pleasure to our audiences by
      %br/
      singing harmonies that raise goosebumps,
      %br/
      make the heart race, or bring tears to the eyes
      %br/
      in a visually exciting performance.
  %h2 Become an equal partner in song!
  %p
    We have an exciting opportunity to build for ourselves a new style of singing group. A group that is collaborative and completely democratic.
  %p
    A group where every one of us has an equal say in what we sing, how we sing it, who we sing with, and how we operate.
  %p
    We need some passionate, committed people to help make this dream a reality. If you find this idea exciting and inspiring
    = link_to "join us now!", new_user_registration_path