- content_for :title do
  Our Vision
- content_for :body_id do
  our-vision
- content_for :body_class do
  public-page

%section#vision.quote
  %p A vision:
  %blockquote.hero-quote
    %p
      We love bringing pleasure to our audiences by
      %br/
      singing harmonies that raise goosebumps,
      %br/
      make the heart race, or
      %br/
      bring tears to the eyes.
  %p
    Help turn this into
    %em Our Vision.
    = link_to "Join us now!", new_user_registration_path