- content_for :title do
  Welcome to Our Chorus
- content_for :body_id do
  inception-page
- content_for :body_class do
  public-page

%h2 Come to the Inception of Our Chorus
%h3 Saturday February 9, 9:30am - 5pm, Sydney CBD or Online
%p.tag-line.centred Optional drinks and dinner afterwards
%p.centred
  Prospective members and observers are all welcome.
%ul.bullets
  %li Learn how a democratic, fully collaborative chorus can really work!
  %li
    = link_to 'Register as a member', new_user_registration_path
    to help develop Our Values and Our Vision
  %li Work together to develop song interpretation in a music charrette
  %li Practice making decisions in a management supper
  %li Attend online or in person
  %li Help choose Our Name

%p.centred
  Please
  = link_to 'join us', new_user_registration_path
  or
  %a{:href => "mailto:ourchorus.info@gmail.com"} contact us
  to receive location details.
%p.centred
  Download the
  %a{:href => "OurChorus.pdf"} draft Program</br>
  For further information, see our
  %a{:href => "https://trello.com/board/public/50cfd5f341ca5cfc1f008517"}community board.
