- content_for :title do
  Our Values
- content_for :body_id do
  our-values
- content_for :body_class do
  public-page

%section#our-values
  %ul.bullets
    %li We all have an equal say in what we sing, how we sing it, and how we operate
    %li We respect each other and value each other's ideas and opinions
    %li We sing every song with passion and enthusiasm
    %li We work hard to produce high quality music
    %li We fulfil our commitments to each other and to our audiences
    %li We give and receive feedback graciously to improve our performances
    %li We are sensitive to each other's feelings
  %p
    = link_to "Come join us!", new_user_registration_path