- content_for :title do
  Our Music
- content_for :body_id do
  our-music
- content_for :body_class do
  our-music

%section#our-music
  %p
    We love bringing pleasure to our audiences by singing harmonies that raise goosebumps, make the heart race, or bring tears to the eyes.
%footer