- content_for :title do
  Our Vision
- content_for :body_id do
  our-vision
- content_for :body_class do
  public-page

%section#vision.quote
  %blockquote.hero-quote
    %p
      We love bringing pleasure to our audiences by
      %br/
      singing harmonies that raise goosebumps,
      %br/
      make the heart race, or bring tears to the eyes
      %br/
      in a visually exciting performance.
  %h2 Latest News
  %p
    = link_to "Grow your Voice", static_pages_grow_your_voice_path
    &nbsp;or&nbsp;
    = link_to "Grow your Group", static_pages_grow_your_group_path
    &nbsp;with our exciting new combined six week course starting July 17!
  %p
    = link_to "Sign up now!", new_user_registration_path