- content_for :title do
  Welcome
- content_for :body_id do
  user-welcome
- content_for :body_class do
  user-page

%h1
  Welcome
  = current_user.first_name
%p
  = @message
%p
  = @details
  at Northbridge Uniting Church,&nbsp;
  %a{:href => "http://maps.google.com.au/maps?daddr=Gunyah+St,+Northbridge+NSW+2063+%28Uniting+Church+In+Australia%29&geocode=CZ0qjyiGbQsmFfsQ_P0djFUDCSF1gmofxT6AuQ&dirflg=&saddr=&f=d&dq=uniting+church&sll=-33.811517,151.213728&sspn=0.018363,0.038581&ie=UTF8&z=16", :target => "_blank"}> Gunyah St, Northbridge