%div
  Hey everybody! We have a new prospective member!
  %div
    %br/
  %div
    Name: #{@member.full_name}
  %div
    %br/
  %div
    Email: #{@member.email}
  %div
    %br/
  %div
    Mobile: #{@member.mobile}
  %div
    %br/
  %div
    About Me: #{@member.about_me}
  %div
    %br/
