%div
  Hi #{@member.first_name},
  %div
    %br/
  %div
    Thanks for registering for Our Chorus at
    = succeed "!" do
      %a{:href => "http://www.our-chorus.org", :target => "_blank"} www.our-chorus.org
  %div
    %br/
  %div
    I'm really looking forward to Our Inception - it should be a fun and exciting experience!
    %br/
    Please spend a few moments to complete
    %a{:href => "http://www.surveymonkey.com/s/G3VH5GH"}our RSVP survey
  %div
    %br/
  %div
    I've invited you to join Trello, which will be an important part of our collaborative process.
    %br/
  %div
    %br/
  %div Trello contains an organisation called Our Chorus, with a variety of notice boards in it. Most are viewable by the public, and editable by members. For copyright reasons, the Our Music board is viewable only by members. That's where we'll put our sheet music and recordings.
  %div
    %br/
  %div We'll be using Trello pretty constantly during the inception, so you might like to have a play with it first.
  %div
    %br/
  %div The main public boards are:
  %div
    %a{:href => "https://trello.com/board/public/50cfd5f341ca5cfc1f008517", :target => "_blank"} Public: Describes Our Chorus for the public
  %div
    %a{:href => "https://trello.com/board/actions/50c9ad3c35a62fc0380031ca", :target => "_blank"} Actions: Things we need to do to get Our Chorus humming along
  %div
    %a{:href => "https://trello.com/board/resources/50d55ff33ff7d7f44e0039aa", :target => "_blank"} Resources: Links to places for sheet music, teach tracks etc
    %br
  %div
    %br/
  %div Private boards include
  %div
    %div
      %a{:href => "https://trello.com/board/feedback/50d926942f6b7f627900065a", :target => "_blank"} Feedback: How we improve our musical ability
    %div
      %a{:href => "https://trello.com/board/our-music/50ccfb17a2d0530306005986", :target => "_blank"} Our Music: Where we suggest songs we'd like to sing and keep track of our repertoire
    %div You won't be able to see these until you have registered with Trello and joined the Our Chorus organisation.
    %div
      %br/
    %div Once you've joined Our Chorus on Trello, you'll be able to edit all the information there. You should feel free to do that!
  %div
    %br/
  %div We're also on Facebook:
  %div
    %br/
  %div
    Our Facebook page: 
    %a{:href => "https://www.facebook.com/OurChorus", :target => "_blank"}
      https://www.facebook.
      %wbr>
      com/OurChorus
  %div
    Our Inception event on Facebook: 
    %a{:href => "https://www.facebook.com/events/182219991921732/", :target => "_blank"}
      https://www.
      %wbr>
      facebook.com/events/
      %wbr>
      182219991921732/
  .yj6qo
  .adL
  %div
    Regards, and welcome aboard!
    %br/
    %br/
    Mary-Anne Cosgrove
    %br/
    Our Chorus Founder