Hi #{@member.first_name},

Thanks for registering for Our Chorus at www.our-chorus.org!

I will be inviting you to join Trello, which will be an important part of our collaborative process.

Trello contains an organisation called Our Chorus, with a variety of notice boards in it. Most are viewable by the public, and editable by members. For copyright reasons, the Our Music board is viewable only by members. That's where we'll put our sheet music and recordings.

The main public boards are:

About Our Chorus: Describes Our Chorus for the public (https://trello.com/board/public/50cfd5f341ca5cfc1f008517)
Actions: Things we need to do to keep Our Chorus humming along (https://trello.com/board/actions/50c9ad3c35a62fc0380031ca)
Our Methods: How we do things around here (https://trello.com/board/our-methods/50df7e27f4a5d88557000447)
Resources: Links to places for sheet music, teach tracks etc (https://trello.com/board/resources/50d55ff33ff7d7f44e0039aa)

Private boards include

Our Music: Where we suggest songs we'd like to sing and keep track of our repertoire (https://trello.com/board/our-music/50ccfb17a2d0530306005986)
Discussions: Where we discuss issues and make decisions by voting (https://trello.com/board/discussions/50ffb63fb8ef16b80e00226e))
Feedback: How we improve our musical ability (https://trello.com/board/feedback/50d926942f6b7f627900065a)

You won't be able to see these until you have registered with Trello and joined the Our Chorus organisation.

Once you've joined Our Chorus on Trello, you'll be able to edit all the information there. You should feel free to do that!

We're also on Facebook at https://www.facebook.com/OurChorus

Regards, and welcome aboard!

Mary-Anne Cosgrove
Our Chorus Founder