%div
  Hi #{@member.first_name},
  %div
    %br/
  %div
    Thanks for registering for Our Chorus at
    = succeed "!" do
      %a{:href => "http://www.our-chorus.org", :target => "_blank"} www.our-chorus.org
  %div
    %br/
  %div
    I will be inviting you to join Trello, which will be an important part of our collaborative process.
    %br/
  %div
    %br/
  %div Trello contains an organisation called Our Chorus, with a variety of notice boards in it. Most are viewable by the public, and editable by members. For copyright reasons, the Our Music board is viewable only by members. That's where we'll put our sheet music and recordings.
  %div
    %br/
  %div The main public boards are:
  %div
    %a{:href => "https://trello.com/board/public/50cfd5f341ca5cfc1f008517", :target => "_blank"} About Our Chorus: Describes Our Chorus for the public
  %div
    %a{:href => "https://trello.com/board/actions/50c9ad3c35a62fc0380031ca", :target => "_blank"} Actions: Things we need to do to get Our Chorus humming along
  %div
    %a{:href => "https://trello.com/board/our-methods/50df7e27f4a5d88557000447", :target => "_blank"} Our Methods: How we do things around here
    %br
  %div
    %a{:href => "https://trello.com/board/resources/50d55ff33ff7d7f44e0039aa", :target => "_blank"} Resources: Links to places for sheet music, teach tracks etc
    %br
  %div
    %br/
  %div Private boards include
  %div
    %div
      %a{:href => "https://trello.com/board/our-music/50ccfb17a2d0530306005986", :target => "_blank"} Our Music: Where we suggest songs we'd like to sing and keep track of our repertoire
    %div
      %a{:href => "https://trello.com/board/discussions/50ffb63fb8ef16b80e00226e", :target => "_blank"} Discussions: Where we discuss issues and make decisions by voting
    %div
      %a{:href => "https://trello.com/board/feedback/50d926942f6b7f627900065a", :target => "_blank"} Feedback: How we improve our musical ability
    %div You won't be able to see these until you have registered with Trello and joined the Our Chorus organisation.
    %div
      %br/
    %div Once you've joined Our Chorus on Trello, you'll be able to edit all the information there. You should feel free to do that!
  %div
    %br/
  %div We're also on Facebook:
  %div
    %br/
  %div
    Our Facebook page: 
    %a{:href => "https://www.facebook.com/OurChorus", :target => "_blank"}
      https://www.facebook.
      %wbr>
      com/OurChorus
  %div
    %br/
  %div
    Regards, and welcome aboard!
    %br/
    %br/
    Mary-Anne Cosgrove
    %br/
    Our Chorus Founder