Hi Dianne

Thanks for registering for Our Chorus at www.our-chorus.org!

I'm really looking forward to Our Inception - it should be a fun and exciting experience!
Please spend a few moments to complete our RSVP survey at http://www.surveymonkey.com/s/G3VH5GH

I will be inviting you to join Trello, which will be an important part of our collaborative process.

Trello contains an organisation called Our Chorus, with a variety of notice boards in it. Most are viewable by the public, and editable by members. For copyright reasons, the Our Music board is viewable only by members. That's where we'll put our sheet music and recordings.

We'll be using Trello pretty constantly during the inception, so you might like to have a play with it first.

The main public boards are:
Public: Describes Our Chorus for the public (trello.com/board/public/50cfd5f341ca5cfc1f008517)
Actions: Things we need to do to get Our Chorus humming along (trello.com/board/actions/50c9ad3c35a62fc0380031ca)
Resources: Links to places for sheet music, teach tracks etc (trello.com/board/resources/50d55ff33ff7d7f44e0039aa)

Private boards include
Feedback: How we improve our musical ability (trello.com/board/feedback/50d926942f6b7f627900065a)
Our Music: Where we suggest songs we'd like to sing and keep track of our repertoire (trello.com/board/our-music/50ccfb17a2d0530306005986)
You won't be able to see these until you have registered with Trello and joined the Our Chorus organisation.

Once you've joined Our Chorus on Trello, you'll be able to edit all the information there. You should feel free to do that!

We're also on Facebook:

Our Facebook page: https://www.facebook.com/OurChorus
Our Inception event on Facebook: https://www.facebook.com/events/182219991921732/

Regards, and welcome aboard!

Mary-Anne Cosgrove
Our Chorus Founder