- content_for :title do
  Welcome to Our Chorus
- content_for :body_id do
  welcome-page
- content_for :body_class do
  welcome

%section#vision.quote
  %q
    We love bringing pleasure to our audiences by singing harmonies that raise goosebumps, make the heart race, or bring tears to the eyes.
%footer
  %p
    %span.star *
    Join us now to help choose our name!