$logo-size: 70px;

#main-nav {
  display: inline-block;
  ul, .logo {
    display: inline-block;
    vertical-align: middle; } }


nav {
  li {
    @include nav-link;
    display: inline-block;
    float: right}
  a {
    display: block;
    padding: 2px 5px; }
}

.logo {
  background: $logo center center no-repeat;
  background-size: contain;
  height: $logo-size;
  width: $logo-size;
  overflow: hidden;
  text-indent: $logo-size;
}