.user-page .fixed-width-labels label {
  width: 12em;
}

.user-page .role {
  @include bevel( horizontal );
  padding: {
    left: 0.5em;
    right: 0.5em;
  }
}

#user-edit {
  label {
    display: inline-block;
    font-weight: normal;
  }
  .hint {
    font-style: italic;
    font-size: 0.8em
  }
}

#user-register {
  label {
    display: inline-block;
    font-weight: normal;
  }
  .hint {
    font-style: italic;
    font-size: 0.8em
  }
}

#user-show {
  ul {
    margin-bottom: $gutter
  }
  label {
    display: inline-block;
    font-weight: bold;
    width: 12em
  }
}

#users-list {
  td {
    border: none;
    box-shadow: none;
  }
  tr {
    border: none
  }
  .about {
    border-bottom: 1px solid $bevel-color-light
  }
}

#users-list-public {
  .member {
    @include clearfix;
  }
  .avatar {
    display: block;
    float: left;
    width: 100px
  }
  .details {
    display: block;
    float: left;
    max-width: $max-width-size - 140px;

    .name { font-weight: bold; font-size: 1.1em}
  }
}

.privacy {
  h3 {
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    color: $link-color;
    margin-top: 1em;
  }
  h3:hover {
    color: $link-hover-color;
  }
  p {
    font-size: 0.9em;
    line-height: 1.2em;
    margin-bottom: 1em;
  }
}