.our-inception {
  h2, h3, .centred {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1em;
  }
  ul {
    width: 29em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
  }
}