%footer#main-footer
  %p.under-construction
    This website is currently under construction. Further information is available on our
    %a{:href => "https://trello.com/board/public/50cfd5f341ca5cfc1f008517"}community board.

  %p
    * Join us now to help choose our name!