%header#main-header
  #header-body
    .left
      %a{:href => root_path}
        %img#our-logo{:src => "/assets/logo.png", :alt => "our logo"}
    .left
      %h1#our-name
        %a{:href => root_path} Our Chorus*
      %p.tag-line A democratic, fully collaborative harmony chorus? I'm excited!
      = render 'common/navigation'
  = render 'common/messages'
