%header#main-header
  #header-body
    .left
      %h1
        %a{:href => root_path} Our Chorus*
      %p.tag-line A democratic, fully collaborative harmony chorus? I'm excited!
    .right
      = render 'common/navigation'
      %p#action-hero
        Can you help?
        %a{:href => "https://trello.com/board/actions/50c9ad3c35a62fc0380031ca"} Become an Action Hero
        today!
  = render 'common/messages'
