%nav
  = link_to "Home", :root
  %ul
    %li
      %a{:href => "#"} Our Vision
    %li
      %a{:href => "#"} Our Values
    %li
      %a{:href => "#"} Our Members
    %li
      %a{:href => "#"} Our Music
    %li
      = link_to "Join us!", new_user_registration_path
