.privacy
  %h3.expandable-heading View Payment Options
  .expandable-content
    %p
      %a{href: 'mailto:ourchorus.info@gmail.com'}Email us
      for bank details to pay by direct deposit, or pay by cash when you come.
    %p
      Payment by Paypal is coming soon...