.privacy
  %h3.heading View our Privacy Statement
  .content
    %p
      Your contact details will be used only for communicating with you about Our Chorus related topics. We will not share your email address or mobile phone number with any non-members.
    %p
      Non-members and provisional members will only be able to see your name, gravatar, and "About me".
    %p
      Full members will be able to see your email address and mobile phone number so that they can
      contact you regarding chorus.